<%= _.template(require('./../includes/header-index.html'))() %>
    <script>
        document.body.classList.add('body_bg-signup');
    </script>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__row-inline d-flex justify-content-center align-items-center">
                    <div class="logo logo_main">
                        <div class="logo__img"></div>
                        <div class="logo__txt">my romantic match</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container container_index">
            <div class="display display_03">
                <div class="display-grid">
                    <div class="display-grid__col display-grid__col-1 d-none d-xl-block">
                        <div class="user-list-item user-list-item_login user-list-item_login1">
                            <div class="user-list-item__pic">
                                <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-01.jpg');">
                                    <div class="user-list-item__row">
                                        <div class="user-list-item__name">Anastasia, 29</div>
                                        <div class="user-list-item__loc">new jersi - 500m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-list-item user-list-item_login user-list-item_login3">
                            <div class="user-list-item__pic">
                                <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-03.jpg');">
                                    <div class="user-list-item__row">
                                        <div class="user-list-item__name">Anastasia, 29</div>
                                        <div class="user-list-item__loc">new jersi - 500m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="display-grid__col display-grid__col-2">
                        <div class="notice-row d-none d-xl-flex">
                            <a class="notice notice_login" href="#">4</a>
                            <div class="notice-row__txt">new matching profiles</div>
                        </div>
                        <h1 class="h1_login d-xl-none">Sign Up <br><span class="h1_2ndrow">To Unlock Them</span></h1>
                        <h1 class="h1_login d-none d-xl-block">Sign up to <br>unlock it</h1>
                        <div class="d-xl-none">
                            <div class="login-slider-wrap">
                                <div class="login-slider">
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-01.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-02.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-03.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-04.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-05.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-06.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-07.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-list-item user-list-item_login">
                                        <div class="user-list-item__pic">
                                            <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-08.jpg');">
                                                <div class="user-list-item__row">
                                                    <div class="user-list-item__name">Anastasia, 29</div>
                                                    <div class="user-list-item__loc">new jersi - 500m</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login-form">
                            <form action="">
                                <div class="form-group form-group_login">
                                    <input class="form-control form-control_login" type="text" placeholder="Email">
                                </div>
                                <div class="form-group form-group_login">
                                    <input class="form-control form-control_login" type="password" placeholder="Password">
                                </div>
                                <div class="form-group form-group_login form-group_login-btn">
                                    <button class="btn btn_w100">sign up</button>
                                </div>
                                <div class="form-group form-group_up-login text-center">
                                    <a class="link1" href="login.html">or login?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="display-grid__col display-grid__col-3 d-none d-xl-flex flex-column align-items-end">
                        <div class="user-list-item user-list-item_login user-list-item_login2">
                            <div class="user-list-item__pic">
                                <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-02.jpg');">
                                    <div class="user-list-item__row">
                                        <div class="user-list-item__name">Anastasia, 29</div>
                                        <div class="user-list-item__loc">new jersi - 500m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-list-item user-list-item_login user-list-item_login4">
                            <div class="user-list-item__pic">
                                <div class="user-list-item__img d-flex justify-content-center align-items-center" style="background-image: url('img/photos/user-extra-04.jpg');">
                                    <div class="user-list-item__row">
                                        <div class="user-list-item__name">Anastasia, 29</div>
                                        <div class="user-list-item__loc">new jersi - 500m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>