.header {
  position: relative;
  &.expand {
    .header__nav-toggle {
      background-size: 13px;
      background-image: url('../img/icons/close.svg');
    }
  }
  .notice {}
  &.header_bg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    @media (min-width: 1200px) {
      height: 660px;
    }
    @media (min-width: 1500px) {
      height: 825px;
    }
    @media (min-width: 1920px) {
      height: 1056px;
    }
    &::after {
      content: '';
      width: 12px;
      height: 77px;
      background-image: url('../img/icons/arrow-down1.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      position: absolute;
      bottom: -59px;
      left: 50%;
      margin-left: -6px;
      @media (min-width: 1200px) {
        content: none;
        display: none;
      }
    }
    &.header_bg-index {
      &::after {
        content: '';
        width: 12px;
        height: 77px;
        background-image: url('../img/icons/arrow-down1.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        position: absolute;
        bottom: -59px;
        left: 50%;
        margin-left: -6px;
        @media (min-width: 1200px) {
          content: '';
          display: block;
          width: 10px;
          height: 100px;
          background-image: url('../img/icons/arrow-down2.svg');
          bottom: -34px;
          margin-left: -5px;
        }
        @media (min-width: 1500px) {
          width: 12px;
          height: 122px;
          bottom: -42px;
          margin-left: -6px;
        }
        @media (min-width: 1920px) {
          width: 20px;
          height: 212px;
          bottom: -73px;
          margin-left: -10px;
        }
      }
    }
  }
  &.bg-01 {
    background-image: url('../img/bg/bg-m-01.jpg');
    background-position: 50% 26%;
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-d-01.jpg');
      background-position: 50% 50%;
    }
  }
  &.bg-02 {
    background-image: url('../img/bg/bg-m-02.jpg');
    background-position: 50% 20%;
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-d-02.jpg');
      background-position: 50% 50%;
    }
  }
  &.bg-03 {
    background-image: url('../img/bg/bg-m-03.jpg');
    background-position: 50% 8%;
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-d-03.jpg');
      background-position: 50% 50%;
    }
  }
  &.bg-04 {
    background-image: url('../img/bg/bg-m-04.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-d-04.jpg');
    }
  }
  &.bg-05 {
    background-image: url('../img/bg/bg-m-05.jpg');
    @media (min-width: 1200px) {
      background-image: url('../img/bg/bg-d-05.jpg');
      background-position: 50% 50%;
    }
  }
}

.body_bg {
  &.light1 {
    background-color: $bg_light_1;
  }
  &.light2 {
    background-color: $bg_light_2;
  }
  .header {
    background-color: $body_bg_color;
    padding-bottom: 50px;
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 0;
    }
  }
}

.header_page {
  margin-bottom: 37px;
  border-bottom: 1px solid $bg_dark_2;
  @media (min-width: 768px) {
    margin-bottom: 70px;
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
    border-bottom: none;
  }
  @media (min-width: 1920px) {
    margin-bottom: 153px;
  }
}

.header_pagelist {
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 100px;
  }
}

.header__row {
  padding: 34px 0 27px;
  @media (min-width: 992px) {
    padding: 98px 0 37px;
  }
  @media (min-width: 1920px) {
    padding: 98px 15px 37px;
  }
  &.header__row_login {
    padding: 0 0 51px;
    @media (min-width: 1200px) {
      padding: 0 0 51px;
    }
    @media (min-width: 1500px) {
      padding: 0 0 75px;
    }
    @media (min-width: 1920px) {
      padding: 0 0 97px;
    }
  }
  &.header__row_form {
    padding: 0;
    @media (min-width: 1200px) {
      padding: 0;
    }
    @media (min-width: 1920px) {
      padding: 0;
    }
  }
  &.header__row_index {
    padding: 0 0 51px;
    @media (min-width: 1200px) {
      padding: 0 0 51px;
    }
    @media (min-width: 1500px) {
      padding: 0 0 75px;
    }
    @media (min-width: 1920px) {
      padding: 0 0 117px;
    }
  }
}

.header__nav-toggle {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
  background-image: url('../img/icons/menu.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  position: relative;
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 992px) {
    width: 26px;
    height: 26px;
  }
}

.header-menu {
  display: none;
}
.header-menu__wrap {
  padding-top: 18px;
  padding-bottom: 18px;
}
.header-menu__item {
  padding: 10px 0;
  font-family: $font_family2;
  font-weight: 400;
  font-size: 30px;
  color: $font_color;
  text-decoration: none;
  line-height: 1;
  &:hover {
    text-decoration: none;
    color: $bg_light_2;
  }
  .notice {
    font-size: 18px;
    position: relative;
    bottom: -4px;
  }
}
.header-menu__item-text {
  word-break: break-all;
  line-height: 1;
}

.header__inner {}

.header__form {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 440px;
  }
  @media (min-width: 1200px) {
    width: 315px;
  }
  @media (min-width: 1500px) {
    width: 360px;
  }
  @media (min-width: 1920px) {
    width: 440px;
  }
}

.header__info {
  width: 100%;
  max-width: 540px;
  position: relative;
  padding: 86px 0 0;
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 315px;
  }
  @media (min-width: 1500px) {
    max-width: 360px;
    padding: 106px 0 0;
  }
  @media (min-width: 1920px) {
    max-width: 540px;
    padding: 106px 0 0;
  }
  &.index {
    max-width: 585px;
    .header__form {
      position: relative;
      z-index: 0;
    }
  }
}


