.user-list {
  &.user-list-slider-login {
    padding-bottom: 0;
    margin: 80px auto 0;
    @media (min-width: 768px) {
      display: block;
      width: 290px;
      margin: 80px auto;
    }
    @media (min-width: 992px) {
      width: auto;
      display: flex;
      margin: 80px 0 0;
    }
    @media (min-width: 1200px) {
      margin: 155px 0 0;
      width: 131%;
    }
  }
}

.main_overflow {
  @media (min-width: 1200px) {
    overflow: hidden;
  }
}

.user-list-item {
  &.user-list-item_first {
    @media (min-width: 1200px) {
      width: 360px;
    }
  }
}