.logo {
  width: 145px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  background-image: url('../img/icons/logo-header-m.svg');
  @media (min-width: 992px) {
    width: 202px;
    height: 18px;
    background-image: url('../img/icons/logo-header-d.svg');
  }
}

.logo_main,
.logo_login {
  width: 199px;
  height: 18px;
  margin: 0 auto;
  @media (min-width: 992px) {
    width: 312px;
    height: 28px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    background-image: url('../img/icons/logo-header-d-index.svg');
  }
}

.logo_footer {
  width: 180px;
  height: 16px;
  margin: 0 auto 41px;
  background-image: url('../img/icons/logo-footer-m.svg');
  @media (min-width: 992px) {
    width: 175px;
    height: 16px;
    margin: 0;
    background-image: url('../img/icons/logo-footer-d.svg');
  }
}