.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 10px;
  justify-content: space-between;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1500px) {
    justify-content: space-between;
    padding-bottom: 51px;
  }
  &.user-list_slider {
    @media (min-width: 992px) {
      padding: 0;
    }
    &.owl-carousel {
      .owl-dots {
        bottom: 0;
        @media (min-width: 992px) {
          bottom: 10px;
        }
      }
    }
  }
}

.user-list-item {
  width: 134px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0;
  margin: 0 0 30px;
  position: relative;
  @media (min-width: 432px) {
    margin: 0 10px 30px;
  }
  @media (min-width: $user_list_item_breakpoint) {
    width: 334px;
    margin: 0 0 84px;
  }
  .user-list-item__pic {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 182px;
    max-height: 182px;
    border-radius: 0;
    //overflow: hidden;
    @media (min-width: $user_list_item_breakpoint) {
      height: 453px;
      max-height: 453px;
    }
    .user-list-item__img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100%;
      position: relative;
    }
  }
  .user-list-item__inf {
    width: 100%;
    @media (min-width: $user_list_item_breakpoint) {
      width: 100%;
    }
  }
  .user-list-item__row {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px 8px;
    color: #fff;
    background-color: rgba(0,0,0, 0.8);
    //filter: blur(6px);
    @media (min-width: $user_list_item_breakpoint) {
      padding: 20px 15px 25px;
    }
    .user-list-item__name {
      font-family: $font_family2;
      font-weight: 600;
      font-size: 11px;
      line-height: 1;
      margin-bottom: 6px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 26px;
        margin-bottom: 13px;
      }
    }
    .user-list-item__loc {
      font-family: $font_family;
      font-weight: 400;
      font-size: 8px;
      line-height: 1;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 19px;
      }
    }
  }
  .user-list-item__title {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 400;
    font-size: 9px;
    line-height: 1;
    margin-bottom: 15px;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 19px;
      margin-bottom: 30px;
    }
  }
  .user-list-item__btn {}
  .user-list-item__icon {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: $font_family;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    position: relative;
    top: -20px;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 26px;
      top: -40px;
    }
  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 51px;
  color: $user_list_title_color;
  text-align: center;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 70px;
  }
  @media (min-width: 1500px) {
    margin-bottom: 109px;
  }
}

.user-list-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1920px) {
    justify-content: space-between;
  }
}