.user-profile-slider-wrap {
  width: 100%;
  position: relative;
  margin: 0 auto;
  @media (min-width: 400px) {
    width: 320px;
    max-width: 320px;
  }
  @media (min-width: 768px) {
    width: 540px;
    max-width: 540px;
    height: 472px;
    max-height: 472px;
    margin-bottom: 40px;
  }
  @media (min-width: 992px) {
    margin-bottom: 60px;
  }
}
.user-profile-slider {
  width: 100%;
  height: 410px;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  @media (min-width: 400px) {
    height: 280px;
    max-height: 280px;
  }
  @media (min-width: 768px) {
    height: 472px;
    max-height: 472px;
  }
  .slide {
    width: 100%;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width: 400px) {
      height: 280px;
      max-height: 280px;
    }
    @media (min-width: 768px) {
      height: 472px;
      max-height: 472px;
    }
  }
  &.owl-carousel {
    .owl-dots {
      width: auto;
      padding: 0 15px;
      bottom: 46px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media (min-width: 1200px) {
        bottom: 43px;
      }
    }
    button.owl-dot {
      border: 1px solid $body_bg_color;
      +button.owl-dot {
        margin-left: 25px;
        @media (min-width: 1200px) {
          margin-left: 39px;
        }
      }
      &.active {
        width: 6px;
        height: 6px;
        min-width: 6px;
        min-height: 6px;
        @media (min-width: 1200px) {
          width: 7px;
          height: 7px;
          min-width: 7px;
          min-height: 7px;
        }
      }
    }
  }
}
.owl-carousel {
  .owl-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 24px;
    padding: 0 25px;
  }
  button.owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    min-width: 9px;
    min-height: 9px;
    background-color: transparent;
    border: 1px solid $bg_dark_1;
    border-radius: 100%;
    outline: none;
    @media (min-width: 1200px) {
      width: 15px;
      height: 15px;
      min-width: 15px;
      min-height: 15px;
    }
    +button.owl-dot {
      margin-left: 10px;
    }
    &.active {
      background-color: transparent;
    }
  }
}

.userprofile {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 1100px;
    height: 414px;
  }
  @media (min-width: 1500px) {
    width: 1210px;
    height: 454px;
  }
}
.userprofile__img {
  @media (min-width: 1200px) {
    width: 470px;
    max-width: 470px;
    height: 100%;
    background-image: url('../img/photos/user-00.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 100%;
    position: relative;
  }
  @media (min-width: 1500px) {
    width: 516px;
    max-width: 516px;
  }
}
.userprofile__btn {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    width: 412px;
    height: 96px;
    font-size: 27px;
    padding: 32px 50px;
    border-radius: 100px 0 0 100px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (min-width: 1500px) {
    width: 453px;
    height: 106px;
    font-size: 31px;
    padding: 33px 50px 34px;
  }
}
.userprofile__info {
  @media (min-width: 1200px) {
    width: 630px;
    max-width: 630px;
    height: 100%;
    background-color: $bg_light_1;
    border-radius: 0 500px 500px 0;
    color: $font_color3;
    padding: 71px 130px 73px 94px;
  }
  @media (min-width: 1500px) {
    width: 694px;
    max-width: 694px;
    padding: 78px 140px 75px 102px;
  }
}
.userprofile__row {
  margin-bottom: 29px;
  @media (min-width: 1200px) {
    margin-bottom: 69px;
  }
  @media (min-width: 1500px) {
    margin-bottom: 74px;
  }
}
.userprofile__name {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 27px;
  line-height: 1;
  margin-bottom: 9px;
  @media (min-width: 1200px) {
    font-size: 37px;
    margin-bottom: 0;
  }
  @media (min-width: 1500px) {
    font-size: 42px;
  }
}
.userprofile__sep {
  @media (min-width: 1200px) {
    background-color: $btn_bg_color;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
}
.userprofile__loc {
  font-family: $font_family;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  @media (min-width: 1200px) {
    font-size: 19px;
  }
  @media (min-width: 1500px) {
    font-size: 26px;
  }
}
.userprofile__title {
  font-family: $font_family;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    text-align: left;
    font-size: 22px;
    margin-bottom: 52px;
  }
  @media (min-width: 1500px) {
    font-size: 29px;
    margin-bottom: 51px;
  }
}

.userprofile_blank {
  height: auto;
  @media (min-width: 1200px) {
    margin-top: 80px;
  }
  .userprofile__img {
    background: none;
  }
  .userprofile__info {
    color: $font_color;
    background: none;
    @media (min-width: 1200px) {
      padding: 0 0 0 94px;
    }
    @media (min-width: 1500px) {
      padding: 0 0 0 102px;
    }
  }
}

.user-profile-btn-wrap {
  position: relative;
  margin-top: -50px;
  z-index: 10;
}
.user-profile-btn {
  margin-bottom: 33px;
  @media (min-width: 992px) {
    max-width: 100%;
  }
}

.user-profile-gallery {
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  .user-profile-gallery__item {
    width: 96px;
    height: 84px;
    border-radius: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin-bottom: 60px;
  }
}

.compatibility {
  &.compatibility_mb {
    padding-bottom: 35px;
    @media (min-width: 1200px) {
      padding-bottom: 55px;
    }
  }
  .compatibility__chart {
    +.compatibility__chart {
      margin-left: 12px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-left: 25px;
      }
    }
  }
  .compatibility__progress {
    width: 31px;
    height: 8px;
    &.compatibility__progress_svgup {
      svg {
        position: relative;
        top: -8px;
      }
    }
    @media (min-width: $user_list_item_breakpoint) {
      width: 67px;
      height: 16px;
      &.compatibility__progress_svgup {
        svg {
          position: relative;
          top: -8px;
        }
      }
    }
  }
  .compatibility__title {
    font-family: $font_family;
    color: $font_color3;
    font-weight: 400;
    font-size: 8px;
    margin-top: 4px;
    @media (min-width: $user_list_item_breakpoint) {
      color: $font_color3;
      font-size: 19px;
      margin-top: 12px;
    }
  }

  &.compatibility_userprofile {
    padding-bottom: 46px;
    .compatibility__title {
      color: $font_color;
    }
    .compatibility__chart {
      +.compatibility__chart {
        margin-left: 40px;
      }
    }
    .compatibility__progress {
      width: 60px;
      height: 15px;
    }
    .compatibility__title {
      color: $font_color;
      font-size: 15px;
      margin-top: 13px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 0;
      .compatibility__chart {
        +.compatibility__chart {
          margin-left: 30px;
        }
      }
      .compatibility__progress {
        width: 98px;
        height: 23px;
      }
      .compatibility__title {
        color: $font_color3;
        font-size: 22px;
        margin-top: 16px;
      }
    }
    @media (min-width: 1500px) {
      .compatibility__progress {
        width: 108px;
        height: 26px;
      }
      .compatibility__title {
        font-size: 29px;
        margin-top: 19px;
      }
    }
  }

  &.compatibility_list {
    margin-bottom: 14px;
    @media (min-width: $user_list_item_breakpoint) {
      margin-bottom: 31px;
    }
    .compatibility__title {
      font-size: 8px;
      margin-top: 7px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-top: 17px;
        font-size: 15px;
      }
    }
    .compatibility__progress {
      width: 34px;
      height: 9px;
      @media (min-width: $user_list_item_breakpoint) {
        width: 65px;
        height: 15px;
      }
    }
    .compatibility__chart {
      +.compatibility__chart {
        margin-left: 5px;
        @media (min-width: $user_list_item_breakpoint) {
          margin-left: 20px;
        }
      }
    }
  }
}

.user-profile-row {
  color: $font_color;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  @media (min-width: 1200px) {
    margin-bottom: 51px;
    text-align: left;
  }
  .user-profile-name {
    font-family: $font_family2;
    font-weight: 400;
    font-size: 31px;
    color: $font_color3;
    @media (min-width: 1200px) {
      font-size: 33px;
      color: $font_color;
    }
  }
  .user-profile-separator {
    display: none;
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    height: 1px;
    background-color: $input_border_color;
    margin: 0 23px;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  .user-profile-loc {
    text-transform: uppercase;
    font-family: $font_family;
    color: $font_color2;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: -56px;
    z-index: 1;
    background-color: $body_bg_color;
    border-radius: 100%;
    width: 185px;
    height: 34px;
    padding: 15px 5px 0;
    line-height: 1;
    @media (min-width: 1200px) {
      font-size: 19px;
      position: static;
      background-color: transparent;
      width: auto;
      height: auto;
      padding: 0;
    }
  }
}

.user-profile-title {
  font-family: $font_family2;
  color: $font_color;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 62px;
    margin-bottom: 40px;
  }
}

.user-profile-about {
  font-size: 15px;
  p {
    color: #BAABA2;
    line-height: 32px;
  }
  @media (min-width: 1200px) {
    font-size: 17px;
    p {
      color: $font_color;
      line-height: 40px;
    }
  }
  .user-profile-about__title {
    line-height: 1;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
