.user-profile-slider-wrap {
  width: 100%;
  position: relative;
  margin: 0 auto 40px;
  @media (min-width: 400px) {
    width: 320px;
    max-width: 320px;
  }
  @media (min-width: 768px) {
    width: 540px;
    max-width: 540px;
    margin-bottom: 45px;
  }
  @media (min-width: 992px) {
    margin-bottom: 60px;
  }
}
.user-profile-slider {
  width: 100%;
  height: 506px;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  @media (min-width: 400px) {
    height: 506px;
    max-height: 506px;
  }
  @media (min-width: 768px) {
    height: 854px;
    max-height: 854px;
  }
  .slide {
    width: 100%;
    height: 506px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    @media (min-width: 400px) {
      height: 506px;
      max-height: 506px;
    }
    @media (min-width: 768px) {
      height: 854px;
      max-height: 854px;
    }
  }
  &.owl-carousel {
    .owl-dots {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    button.owl-dot {
      +button.owl-dot {}
      &.active {}
    }
  }
}
.owl-carousel {
  .owl-dots {
    position: absolute;
    right: 0;
    top: 31px;
    padding: 0 15px;
  }
  button.owl-dot {
    display: inline-block;
    width: 3px;
    height: 18px;
    min-width: 3px;
    min-height: 18px;
    background-color: $body_bg_color;
    border: none;
    border-radius: 3px;
    outline: none;
    +button.owl-dot {
      margin-top: 13px;
    }
    &.active {
      background-color: $btn_bg_color;
    }
  }
}

.userprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.userprofile__img {
  width: 100%;
  @media (min-width: 1200px) {
    width: 401px;
    min-width: 401px;
    max-width: 401px;
    height: 544px;
    background-image: url('../img/photos/ava.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    position: relative;
    margin: 0 102px 0 64px;
  }
}
.userprofile__btn {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    padding: 35px 10px 30px;
  }
}
.userprofile__info {
  @media (min-width: 1200px) {
    color: $font_color;
  }
}
.userprofile__row {
  margin-bottom: 39px;
  text-align: center;
  color: $font_color2;
  @media (min-width: 1200px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px 15px 22px;
    color: #fff;
    margin-bottom: 0;
    background-color: rgba(0,0,0, 0.8);
    //filter: blur(6px);
  }
}
.userprofile__name {
  font-family: $font_family2;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 13px;
  @media (min-width: 1200px) {
    font-size: 29px;
    margin-bottom: 14px;
  }
}
.userprofile__loc {
  font-family: $font_family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
.userprofile__title {
  font-family: $font_family;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    text-align: left;
    font-size: 22px;
    margin-bottom: 52px;
  }
  @media (min-width: 1500px) {
    font-size: 29px;
    margin-bottom: 51px;
  }
}

.user-profile-btn-wrap {
  margin: 0 15px 0;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 26px;
  z-index: 1;
}
.user-profile-btn {
  padding: 21px 7px 20px;
}

.user-profile-gallery {
  display: none;
  @media (min-width: 1200px) {
    width: 107px;
    min-width: 107px;
    max-width: 107px;
    height: 544px;
    display: block;
    overflow: hidden;
    transform: scale(1);
    cursor: grab;
    &.active {
      transform: scale(1.05);
      cursor: grabbing;
    }
  }
  .user-profile-gallery__item {
    width: 100%;
    height: 101px;
    //cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin-bottom: 28px;
  }
}

.compatibility {
  &.compatibility_mb {
    padding-bottom: 0;
    @media (min-width: 1200px) {
      padding-bottom: 41px;
    }
  }
  .compatibility__chart {
    +.compatibility__chart {
      margin-left: 14px;
      @media (min-width: 576px) {
        margin-left: 45px;
      }
      @media (min-width: $user_list_item_breakpoint) {
        margin-left: 25px;
      }
    }
  }
  .compatibility__progress {
    width: 77px;
    height: 21px;
    &.compatibility__progress_svgup {
      svg {
        position: relative;
        top: -3px;
      }
    }
    @media (min-width: $user_list_item_breakpoint) {
      width: 95px;
      height: 26px;
      &.compatibility__progress_svgup {
        svg {
          position: relative;
          top: -4px;
        }
      }
    }
  }
  .compatibility__title {
    font-family: $font_family;
    color: $font_color2;
    font-weight: 400;
    font-size: 15px;
    margin-top: 7px;
    text-transform: uppercase;
    @media (min-width: $user_list_item_breakpoint) {
      color: $font_color2;
      font-size: 18px;
      margin-top: 9px;
    }
  }

  &.compatibility_list {
    margin-bottom: 14px;
    @media (min-width: $user_list_item_breakpoint) {
      margin-bottom: 31px;
    }
    .compatibility__title {
      font-size: 8px;
      margin-top: 7px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-top: 17px;
        font-size: 15px;
      }
    }
    .compatibility__progress {
      width: 34px;
      height: 9px;
      @media (min-width: $user_list_item_breakpoint) {
        width: 65px;
        height: 15px;
      }
    }
    .compatibility__chart {
      +.compatibility__chart {
        margin-left: 5px;
        @media (min-width: $user_list_item_breakpoint) {
          margin-left: 20px;
        }
      }
    }
  }
}

.user-profile-title {
  font-family: $font_family2;
  color: $font_color;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.user-profile-about {
  font-size: 15px;
  p {
    color: $font_color;
    line-height: 32px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
    p {
      color: $font_color;
      line-height: 40px;
    }
  }
  .user-profile-about__title {
    line-height: 41px;
    margin: 40px 0 35px;
    @media (min-width: 1200px) {
      margin: 50px 0 39px;
      line-height: 50px;
    }
  }
}
