$container-xxl:             1398px;
$container-xxxl:            1398px;
$body_bg_color:             #503D35;
$logo_main_color:           #EAB9A8;
$btn_bg_color:              #EAB9A8;
$btn_hover_bg_color:        #F19F83;
/**/$btn2_bg_color:             #E9E0D3;
/**/$btn2_hover_bg_color:       #FF445A;
$bg_dark_1:                 #503D35;
$bg_dark_2:                 #56433A;
$bg_light_1:                #F3E7DD;
$bg_light_2:                #EAB9A8;
$font_color:                #F3E7DD;
$font_color2:               #A99A91;
$font_color3:               #573528;
$font_family:               "HurmeGeometricSans3", sans-serif;
$font_weight:               400;
$font_size:                 19px;
$font_size_mobile:          15px;
$body_mb:                   160px;
$body_mb_mob:               30px;
$font_family2:              "Branch", serif;
$link_txt_family:           $font_family;
$link_color:                $btn_bg_color;
$link_hover_color:          #F19F83;
$link_hover_color2:         #C89F90;
$footer_height:             154px;
$footer_height_mob:         358px;
$footer_text_color:         $font_color;
$footer_text_color_hover:   $link_hover_color;

//Form
$input_bg:                  transparent;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           #EEE6E3;
$input_hover_txt_color:     #AFA29D;
$input_placeholder_color:   $input_hover_txt_color;
$input_txt_xs_size:         15px;
$input_txt_xs_lh:           1.5;
$input_txt_size:            18px;
$input_txt_lh:              1.5;
$input_border_color:        #EEE6E3;
$input_border:              1px solid $input_border_color;
$input_hover_border:        $input_border;
$input_border_radius:       100px;
$textarea_border_radius:    22px;

//Custom Checkbox
/**/$checkbox_xs_width:             38px;
/**/$checkbox_xs_height:            20px;
/**/$checkbox_xs_space_text:        19px;
/**/$checkbox_xs_padding_left:      $checkbox_xs_width + $checkbox_xs_space_text;
/**/$checkbox_xs_left:              -$checkbox_xs_width - $checkbox_xs_space_text;
/**/$checkbox_xs_top:               8px;
/**/$checkbox_xs_marker_width:      38px;
/**/$checkbox_xs_marker_height:     20px;
/**/$checkbox_xs_marker_top:        11px;
/**/$checkbox_xs_marker_left:       $checkbox_xs_left + 3px;

/**/$checkbox_width:                52px;
/**/$checkbox_height:               27px;
/**/$checkbox_space_text:           27px;
/**/$checkbox_padding_left:         $checkbox_width + $checkbox_space_text;
/**/$checkbox_left:                 -$checkbox_width - $checkbox_space_text;
/**/$checkbox_top:                  11px;
/**/$checkbox_marker_width:         52px;
/**/$checkbox_marker_height:        27px;
/**/$checkbox_marker_top:           16px;
/**/$checkbox_marker_left:          $checkbox_left + 5px;

/**/$checkbox_txt_family:           $font_family;
/**/$checkbox_txt_color:            $font_color;
/**/$checkbox_txt_xs_size:          16px;
/**/$checkbox_txt_size:             19px;
/**/$checkbox_txt_xs_lh:            30px;
/**/$checkbox_txt_lh:               36px;
/**/$checkbox_bg_color:             transparent;
/**/$checkbox_checked_bg_color:     $btn_bg_color;
/**/$checkbox_border:               1px solid #000;
/**/$checkbox_checked_border_color: #000;
/**/$checkbox_active_bg_color:      transparent;
/**/$checkbox_bg_icon:              '';
/**/$checkbox_bg_icon_checked:      '../img/icons/checkbox-checked.svg';
/**/$checkbox_checked_marker_color: #000;

//Custom RadioButton
$radio_xs_width:             31px;
$radio_xs_height:            31px;
$radio_xs_marker_width:      9px;
$radio_xs_marker_height:     9px;
$radio_xs_space_text:        18px;
$radio_xs_left:              -$radio_xs_width - $radio_xs_space_text;
$radio_xs_top:               -5px;
$radio_xs_padding_left:      $radio_xs_width + $radio_xs_space_text;
$radio_xs_marker_top:        11px - 5px;
$radio_xs_marker_left:       $radio_xs_left + 11px;

$radio_width:                32px;
$radio_height:               32px;
$radio_marker_width:         10px;
$radio_marker_height:        10px;
$radio_space_text:           18px;
$radio_left:                 -$radio_width - $radio_space_text;
$radio_top:                  -3px;
$radio_padding_left:         $radio_width + $radio_space_text;
$radio_marker_top:           8px;
$radio_marker_left:          $radio_left + 11px;
$radio_checked_marker_color: $btn_bg_color;

$radio_txt_family:           $font_family;
$radio_txt_color:            $font_color;
$radio_txt_xs_size:          15px;
$radio_txt_size:             18px;
$radio_txt_xs_lh:            1.5;
$radio_txt_lh:               1.5;
$radio_bg_color:             transparent;
$radio_checked_bg_color:     $radio_bg_color;
$radio_border:               1px solid $input_border_color !important;
$radio_hover_border:         $radio_border;
$radio_checked_border_color: $input_border_color;
$radio_active_bg_color:      $radio_bg_color;
$radio_bg_icon:              "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%234E464F'/%3E%3C/svg%3E";

//Custom Switch
$switch_bg_width: 55px;
$switch_bg_height: 26px;
$switch_bg_width_mob: 35px;
$switch_bg_height_mob: 15px;
$switch_bg_border_radius: 100px;
$switch_dot_size_w: 13px;
$switch_dot_size_h: 13px;
$switch_dot_size_w_mob: 7px;
$switch_dot_size_h_mob: 7px;
$switch_dot_border_radius: 100%;
$switch_bg_color: transparent;
$switch_bg_color_active: $switch_bg_color;
$switch_bg_color_checked: $switch_bg_color;
$switch_dot_color: #8F7E75;
$switch_dot_color_active: $btn_bg_color;
$switch_border: 1px solid $switch_dot_color;
$switch_border_active: 1px solid $bg_light_1;
$switch_txt: '';
$switch_txt_color: $font_color;
$switch_txt_color_checked: $font_color;
$switch_margin_right: 42px;
$switch_margin_right_mob: 30px;
$switch_margin_top: 0;
$switch_margin_top_mob: 30px;
$switch_label_fontfamily: $font_family;
$switch_label_fontsize: $font_size;
$switch_label_fontsize_mob: 16px;
$switch_label_lineheight: 36px;
$switch_label_lineheight_mob: 30px;

//Bootstrap container width
@function get-container-width($key: 'md') {
  @return map-get($container-max-widths, $key);
}

//User List page wider
$user_list_wider:           160px;
$user_list_item_breakpoint: 992px;
$user_list_title_color:     $font_color;